.presentation-container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 40rem;
  background-color: rgb(232, 192, 125);
  border-radius: 10px;
  text-align: center;
  gap: 1rem;
  overflow: hidden;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

p {
  font-size: 20px;
}
